<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AudioLoopBack.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AudioLoopBack.GlobalSettings>
            <setting name="Background_Color_Spect_C" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="Background_Color_Wave_C" serializeAs="String">
                <value>Turquoise</value>
            </setting>
            <setting name="ShowCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Cursor_L" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Cursor_R" serializeAs="String">
                <value>0.9</value>
            </setting>
        </AudioLoopBack.GlobalSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
